[Desktop Entry]
Type=Application

Name=Seabird
Comment=Kubernetes desktop client
Categories=Development;Documentation;
Keywords=seabird;

Icon=io.github.getseabird.seabird
Exec=seabird
Terminal=false