columnview>listview>row:hover,
columnview>listview>row:focus,
columnview>listview>row:active,
columnview>listview>row:selected {
  border-radius: 6px;
}

.navigation-sidebar {
  opacity: 0.9;
}

label.badge {
  background-color: @window_bg_color;
  padding: .6em;
  border-radius: .6rem;
  font-size: 0.9em;
}

levelbar block.lb-error {
  background-color: @destructive_bg_color;
}

levelbar block.lb-warning {
  background-color: @warning_bg_color;
}