windowcontrols {
  border-spacing: 6px;
  padding: 0 10px;
}

windowcontrols button>image {
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-image: none;
  -gtk-icon-size: 0;
}

windowcontrols button.close,
windowcontrols button.maximize,
windowcontrols button.minimize {
  min-width: 12px;
  min-height: 12px;
  margin: 0;
  padding: 0;
}

windowcontrols button:hover>image {
  color: black;
  filter: brightness(110%);
}

windowcontrols button.close>image {
  background-color: #ff5f57;
}

windowcontrols button.minimize>image {
  background-color: #febc2e;
}

windowcontrols button.maximize>image {
  background-color: #28c840;
}
