columnview>listview>row:hover,
columnview>listview>row:focus,
columnview>listview>row:active,
columnview>listview>row:selected {
  border-radius: 6px;
}

.navigation-sidebar {
  opacity: 0.9;
}

label.badge {
  background-color: @window_bg_color;
  padding: .6em;
  border-radius: .6rem;
  font-size: 0.9em;
}

levelbar block.lb-error {
  background-color: @destructive_bg_color;
}

levelbar block.lb-warning {
  background-color: @warning_bg_color;
}

levelbar block.lb-normal {
  background-color: @view_fg_color;
}

/* Replace fixed background color with var */
textview.sourceview>text,
textview.sourceview>border>gutter {
  background-color: @view_bg_color;
}

/* Windows defaults to the awful Courier New monospace font */
.monospace {
  font-family: 'Source Code Pro 10', Consolas, monospace;
}

dropdown.kind-dropdown>button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

.navigation-sidebar {
  background-color: @sidebar_bg_color;
  padding-bottom: 0;
}

.navigation-sidebar entry.search {
  min-height: 29px;
  font-size: 0.9em;
  box-shadow: inset 0 1px var(--sidebar-border-color);
  border-radius: 0 0 0 11px; /* var(--window-radius) */
}
